Flask_WTF==1.0.1
pandas==1.4.2
six==1.16.0
tensorflow==2.9.0
WTForms_Components==0.10.5
deepface==0.0.75
werkzeug==2.1.2
opencv_contrib_python==4.5.5.64
WTForms==3.0.1
Flask_MySQLdb==1.0.1
Flask==2.1.2
Flask_Mail==0.9.1
matplotlib==3.5.2
Flask_Cors==3.0.10
numpy==1.22.4
wget==3.2
python_docx==0.8.11
coolname==1.1.0
object_detection==0.0.3
Pillow==9.1.1
pymongo==4.1.1
Flask-Session==0.4.0
nltk==3.6.2





#  pip install -r requirements.txt